<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Rule Engine</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    </head>
    <body>
        <section id="cover">
            <div id="container-sm" class="container">
                <h1>Crear o editar una regla</h1>
                <form id="set_rule">
                    <div class="form-group">
                        <label for="device_id">Identificador del dispositivo</label>
                        <input
                            id="device_id"
                            type="search"
                            name="device_id"
                            placeholder="Identificador del dispositivo"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label for="blocked">Dispositivo bloqueado</label>
                        <select 
                            name="blocked" 
                            id="blocked"
                            default="false"
                            class="form-control">
                            <option value="true">true</options>
                            <option value="false">false</options>
                        </select>
                    </div>        
                    <div class="form-group">
                        <label for="fields">Campos necesarios</label>
                        <input
                            id="fields"
                            type="search"
                            name="fields"
                            placeholder="Campos necesarios"
                            aria-describedby="fieldsHelp"
                            class="form-control"
                        />
                        <small id="fieldsHelp" class="form-text text-muted">Separar con comas</small>
                    </div>
                    <div class="form-group">
                        <label for="maxSize">Tamaño máximo del mensaje (en bytes)</label>
                        <input
                            id="maxSize"
                            type="number"
                            name="maxSize"
                            placeholder="Tamaño máximo del mensaje"
                            aria-describedby="maxSizeHelp"
                            class="form-control"
                        />
                        <small id="maxSizeHelp" class="form-text text-muted">0 no limita el tamaño</small>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </section>
        <section id="reglas">
            <div id="container" class="container">
                <h1>Todas las reglas</h1>
                <p>En total hay {{ .Total }} reglas</p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Identificador del dispositivo</th>
                            <th scope="col">Bloqueado</th>
                            <th scope="col">Campos necesarios</th>
                            <th scope="col">Tamaño máximo del mensaje</th>
                        </tr>
                    </thead>
                    <tbody>                
                        {{ range $key, $rule := .Rules }}
                        <tr>
                            <th scope="row">{{ $key }}</th>
                            <td>{{ $rule.Blocked }}</td>
                            <td>
                                {{ range $field := $rule.Fields }}
                                <p>{{ $field }}</p>
                                {{end}}
                            </td>
                            <td>{{ $rule.MaxSize }}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>    
    </body>

    <script src="assets/form_controler.js" defer></script>

</html>
